# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.lock
*.iml

# Android
.android/
local.properties
*.keystore
*.jks
key.properties

# iOS / macOS
ios/Pods/
ios/.symlinks/
macos/Pods/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# 编辑器与系统
.idea/
.vscode/
.DS_Store
Thumbs.db

# 本地环境
*.env
.env.local
